<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshEmployees($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="employee">
    <ion-card>
      <img style="width: 100%;" src="assets/dummy.png">

      <ion-card-header>
        <ion-card-subtitle>{{employee!.jobTitle}}</ion-card-subtitle>
        <ion-card-title>{{employee!.firstName}} {{employee!.lastName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{employee!.phoneNumber}}
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" (click)="presentModal()">Profil bearbeiten</ion-button>
  </div>

  <div *ngIf="!employee">
    <ion-item lines="none" class="text">
      <ion-label>
        Sie haben noch kein Profil erstellt.
      </ion-label>
    </ion-item>
    <ion-button expand="block" (click)="presentModal()">Profil erstellen</ion-button>
  </div>
</ion-content>
