<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>{{ (model.firstName != null) ? "Profil hinzufügen" : "Profil editieren" }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Zurück</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="input-cover" [fullscreen]="true" [scrollY]="false" [scrollX]="false">
  <ion-item>
    <ion-label position="floating">Vorname</ion-label>
    <!-- <ion-input [(ngModel)]="model.firstName" type="text" required="true"></ion-input> -->
    <!-- <ion-input class="inputField" [ngModel]="model?.firstName" (ngModelChange)="model.firstName = $event" type="text" required="true" pattern="[Bb]anana|[Cc]herry"> -->
    <ion-input class="inputField" [ngModel]="model?.firstName" (ngModelChange)="model.firstName = $event" type="text"
      required="true" maxlength="15" minlength="3">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nachname</ion-label>
    <!-- <ion-input [(ngModel)]="model.lastName" type="text" required="true"></ion-input> -->
    <ion-input [ngModel]="model?.lastName" (ngModelChange)="model.lastName = $event" type="text" required="true"
      maxlength="15" minlength="3">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Job Titel</ion-label>
    <!-- <ion-input [(ngModel)]="model.jobTitle" type="text" required="true"></ion-input> -->
    <ion-input [ngModel]="model?.jobTitle" (ngModelChange)="model.jobTitle = $event" type="text" required="true"
      maxlength="15" minlength="3">
    </ion-input>

  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefonnummer</ion-label>
    <!-- NEED TO MAKE FOR SWITZERLAND -->
    <ion-input [ngModel]="model?.phoneNumber" (ngModelChange)="model.phoneNumber = $event" required="true"
      inputmode="tel" pattern="tel" maxlength="11">
    </ion-input>
  </ion-item>


  <div class="errorBox">
    <p style="display: none;" id="error"></p>
  </div>

  <div class="buttonBox">
    <ion-button (click)="delete()" color="danger">Löschen</ion-button>
    <ion-button (click)="save()" color="success">Speichern</ion-button>
  </div>



</ion-content>
